div#elephanto {
  color: white;
  border: none;
  background-color: transparent;
  margin-bottom: -1px;
}

div#elephanto div.open {
  font-family: Open Sans;
  background-color: #c88301;
  color: white;
  border-top-left-radius: 10px;
}

div#elephanto div.open:hover {
  background-color: #c88301;
}

div#elephanto div.open div.text span.count {
  padding: inherit;
  background-color: inherit;
  color: inherit;
  height: inherit;
  width: inherit;
  line-height: inherit;
  font-size: inherit;
  text-align: inherit;
  font-weight: inherit;
  border-radius: inherit;
  margin-left: inherit;
}

div#elephanto div.open div.text span.count:before {
  content: "(";
}

div#elephanto div.open div.text span.count:after {
  content: ")";
}

div#elephanto div.list {
  background-color: #0f142f;
}

div#elephanto div.list div.entry {
  background-color: #0f142f;
  padding: 5px;
  margin: 5px;
  border-bottom: dashed 1px white;
}

div#elephanto div.list div.entry:first-child {
  padding-top: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

div#elephanto div.list div.entry:last-child {
  margin-bottom: 0px;
}

div#elephanto div.list div.entry div.text {
  color: white;
  font-family: Open Sans;
  line-height: 16px;
}

div#elephanto div.list div.entry:hover {
  background-color: transparent;
}

div#elephanto div.list div.entry:hover div.text {
  color: white;
  text-decoration: underline;
}

div#elephanto div.list div.entry div.remove {
  align-items: flex-start;
}

div#elephanto div.info {
  background-color: #0f142f;
}

div#elephant_favorite div#elephant_favorite_off img {
  background-color: #e7e6e6;
  padding: 5px;
}

div#elephant_favorite div#elephant_favorite_on img {
  padding: 5px;
}

@media only screen and (max-width: 500px) {
  div#elephanto div.open {
    border-top-left-radius: 0px;
  }
}
