/*DEV*/

body {
  height: 5000px;
  border-bottom: solid 10px red;
}


/*ELEPHANT*/

div#elephanto {
  position: fixed;
  bottom: 0px;
  right: 0px;
  border: solid 1px black;
}

div#elephanto div.open {
  margin: 0px auto;
  font-size: 15px;
  border-bottom: black;
  cursor: pointer;
}

div#elephanto ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

div#elephanto ul li {
  padding: 10px;
}

div#elephanto ul li:first-child {
  padding-top: 0px;
}

div#elephanto ul li.not-first {
  display: none;
}

div#elephanto ul li img, ul.elephanto li a {
  vertical-align: middle;
  padding: 2px;
}

div#elephanto ul li img {
  max-width: 100px;
}

div#elephanto ul li span.favorite {
  color: orange;
}
